<div class="page-header end">
  <% if won %>
    <h1>You Won!</h1>
  <% else %>
    <h1>Better luck next time</h1>
    <p>Check out the code below</p>
  <% end %>
  <p>Secret code: <%= code %></p>

  <p><a href="/restart">Play again?</a></p>
</div>
